<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{record.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", maximum-scale=1, user-scalable:no>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="{{ paths.theme }}styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="{{ paths.theme }}bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
      <div id="fullpage">
        <a href="body-class-menus-fullscreen-fancy-2#" class="toggle-nav">
            <div class="hamburger-slim">
            </div>
        </a>
        
        <nav id="body-nav">
		    <ul>
		        <li data-menuanchor="home" ><a href="#home">Home</a></li>
                <li data-menuanchor="about"><a href="#about">About</a></li>
                <li data-menuanchor="portfolio"><a href="#portfolio">Portfolio</a></li>
                <li data-menuanchor="team"><a href="#team">Team</a></li>
                <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
	        </ul>
		</nav>
        
        
        
        
      <div class="hero section row" style="background-image:url('{{ paths.files }}{{ record.templatefields.hero }}')">
        <div class="hero-wrapper">
            <div class="hero-logo" style="background-image:url('{{ paths.files }}{{ record.templatefields.logo }}')"></div>
            <h1><span>{{ record.templatefields.titlebold }}</span> {{ record.templatefields.titlelight }}</h1>
            <h2>{{ record.teaser }}</h2>
        </div>
      </div>
        <div class="section about row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 centered" >
                    <div class="col-xs-12 anim-in-down">
                        <h1>{{ record.aboutheader }}</h1>
                    </div>
                    <div class="col-sm-4 anim-in-left">
                        <p class="hidden-xs" style="text-align:center"><img src="{{ paths.files }}{{ record.aboutimage1 }}" alt=""></p>
                        <p>{{ record.abouttext1 }}</p>
                    </div>
                    <div class="col-sm-4 anim-in-up">
                    <p class="hidden-xs" style="text-align:center"><img src="{{ paths.files }}{{ record.aboutimage2 }}" alt=""></p>
                        <p>{{ record.abouttext2 }}</p>
                    </div>
                    <div class="col-sm-4 anim-in-right">
                    <p  class="hidden-xs" style="text-align:center"><img src="{{ paths.files }}{{ record.aboutimage3 }}" alt=""></p>
                        <p>{{ record.abouttext3 }}</p>
                    </div>
            </div>
        </div>
        <div class="row-hero portfolio section row"style="background-image:url('{{ paths.files }}{{ record.templatefields.hero2 }}')" >
            
        </div>
        <div class="section team row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 centered" >
                <div class="col-xs-12 anim-in-down">
                    <h1>{{ record.teamheader }}</h1>
                </div>
                <div class="col-xs-4 anim-in-left">
                    <p style="text-align:center"><img src="{{ paths.files }}{{ record.teamimage1 }}" alt=""></p>
                            <p>{{ record.teamtext1 }}</p>
                </div>
                <div class="col-xs-4 anim-in-up">
                    <p style="text-align:center"><img src="{{ paths.files }}{{ record.teamimage2 }}" alt=""></p>
                    <p>{{ record.teamtext2 }}</p>
                </div>
                <div class="col-xs-4 anim-in-right">
                    <p style="text-align:center"><img src="{{ paths.files }}{{ record.teamimage3 }}" alt=""></p>
                            <p>{{ record.teamtext3 }}</p>
                </div>
            </div>
        </div>
        <div class="section contact row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 centered">
                <div class="col-sm-12 anim-in-down">
                    <h1>{{ record.contactheader }}</h1>
                    <h2>{{ record.contactsubheader }}</h2>
                </div>
                <div class="anim-in-right">
                    <form class="form">
                        <div class="form-group col-xs-12">
                            <div id="name-col" class="col-sm-4 col-sm-offset-2">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                            <div id="email-col" class="col-sm-4">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group  col-xs-12">
                            <div class="col-sm-8 col-sm-offset-2">
                                <textarea class="form-control" id="inputMessage" placeholder="Message" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-6 col-sm-offset-3">
                            <div id="submit-button" class="col-xs-6">
                                <button type="submit" class="btn btn-default">Send</button>
                            </div>
                            <div id="clear-button" class="col-xs-6">
                                <button class="btn btn-default">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 social-buttons">
                <footer>
                    <h1>
                        <a href="{{record.facebooklink}}"><i class="fa fa-facebook-square"></i></a>
                        <a href="{{record.twitterlink}}"><i class="fa fa-twitter-square"></i></a>
                        <a href="{{record.linkedinlink}}"><i class="fa fa-linkedin-square"></i></a>
                    </h1>
                    <p>{{record.footertext}}</p>
                </footer>
            </div>
    </div>
</div>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>


        <!-- build:js scripts/main.js -->
        <script src="{{ paths.theme }}bower_components/jquery/jquery.js"></script>
        <script src="{{ paths.theme }}bower_components/fullpage.js/jquery.fullpage.min.js"></script>
        <script src="{{ paths.theme }}scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
